$primary: #ff3c3c;
$secondary: #222222;
$light: #ffffff;

$container-max-widths: (
  sm: 380px,
  md: 768px,
  lg: 960px,
  xl: 1440px,
);

@import 'bootstrap/scss/bootstrap';

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$mulish: 'Mulish', sans-serif;
$oswald: 'Oswald', sans-serif;

@mixin text-style(
  $family,
  $size,
  $weight,
  $line-height,
  $style: normal,
  $transform: none
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-style: $style;
  text-transform: $transform;
}

.h1 {
  @include text-style($oswald, 116px, $light, 132%, normal, uppercase);
}

.h2 {
  @include text-style($oswald, 32px, $regular, 40%, normal, uppercase);
}

.h3 {
  @include text-style($oswald, 20px, $regular, 28%, normal, uppercase);
}

.h4 {
  @include text-style($oswald, 16px, $regular, 24%);
}

.base {
  @include text-style($oswald, 16px, $regular, 24%, normal, uppercase);
}

.body-small {
  @include text-style($mulish, 12px, $medium, 16%);
}

.body-base {
  @include text-style($mulish, 16px, $regular, 150%);
}

.body-base-italic {
  @include text-style($mulish, 16px, $regular, 20%, italic);
}

.body-decoration {
  @include text-style($oswald, 48px, $light, 54%);
}

.btn {
  padding: 0px 20px;
  width: 200px;
  height: 60px;
  min-width: 200px;
  background: $secondary;

  span {
    color: $light;
  }

  &:hover {
    background: $primary;
    span {
      color: $secondary;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: unset;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $secondary;
}

.container {
  @each $breakpoint, $width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      width: $width !important;
      max-width: none !important;
    }
  }
}

.vertical-text {
  writing-mode: sideways-lr;
}
